.app-input {
  color: var(--app-input-color);
  position: relative;
  background-color: var(--app-input-bg);
  padding: 0 5px;
}

.app-input__label {
  position: absolute;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 500;
  padding: 2px 0px;
  transition: none;
  color: var(--app-input-label-color);
}

.app-input__textfield {
  width: 100%;
  height: 50px;
  padding-top: 14px;
  padding-bottom: 2px;
  caret-color: var(--primary-accent);
  font-size: 1.5em;
  background-color: var(--app-input-bg);
  color: var(--app-input-color);
  border-radius: 2px;
  border: none;
  outline: none;
  margin-top: 0px;
}

/* FOCUS  */

.app-input:focus-within,
.app-input__textfield:focus {
  background-color: var(--app-input-highlight-bg);
}

.app-input:focus-within .app-input__label {
  color: var(--app-input-label-highlight);
  font-size: .9em;
}
