#user-input {
  width: 790px;
  height: 370px;
}

.MuiInputBase-root {
  border-radius: 0px !important;
}

.input-box {
  padding-top: 20px;
  padding-left: 125px;
  padding-right: 125px;
}

.MuiFormControl-root {
  margin-top: 40px !important;
}

#submit-button {
  position: absolute;
  background-color: #C0CA33;
  bottom: 90px;
  right: 125px;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  padding: 10px 16px;
}

.keyword-chip {
  width: 100px;
  background: #E8EAF6 !important;
  border-radius: 25px;
  color: #3949AB !important;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.15px;
}

.keyword-chip:focus {
  color: rgb(49, 64, 163) !important;
}

.MuiSvgIcon-root svg {
  fill: #9FA8DA !important;
  stroke: #9FA8DA !important;
}

@media (max-width: 1024px) {
  #user-input {
    width: 700px;
  }
}

@media (max-width: 800px) {
  #user-input {
    width: 550px;
  }
}

@media (max-width: 600px) {
  #user-input {
    width: 430px;
  }
}

@media (max-width: 400px) {
  #user-input {
    width: 350px;
  }
}
