.results-card,
.download-panel {
  background-color: #ffffff;
  border: 1px solid #e8eaf6;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  width: 255px;
  height: 180px;
  -webkit-transition: ease-out .2s;
  transition: ease-out .2s;
  cursor: pointer;
}

.download-panel,
.results-card:hover,
.results-card:focus {
  border: 2px solid #3F51B5;
  outline: none;
}

.results-card-name {
  width: 100%;
  height: 30px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  position: relative;
  top: -20px;
}

.results-card-name svg {
  position: relative;
  top: -20px;
  left: -10px;
  text-align: center;
}

.download-panel {
  position: absolute;
  z-index: 10;
}

.download-panel-text {
  margin-top: 20%;
}

.results-card-name,
.results-card-icon,
.download-panel-icon {
  margin-top: 15%;
}
