.navbar {
  height: 50px;
  width: 100vw;
  background: var(--primary-light);
  transition: none;
  padding-top: 1vh;
  z-index: 1000;
}

.navbar__brand {
  margin-left: 10vw;
}

.navbar__faces {
  position: relative;
  top: -50px;
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

@media (max-width: 600px) {
  .navbar__brand {
    margin-left: 5vw;
  }
}

@media (max-width: 400px) {
  .navbar__brand {
    margin-left: 2.5vw;
  }
}
