nav {
  height: 64px;
  background: #303F9F;
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 300px;
  transition: none;
}

.menu {
  margin-top: 20px;
}

.menu li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.brand {
  margin-left: 203px;
  margin-top: 16px;
}

@media (max-width: 1000px) {
  .brand {
    margin-left: 100px;
  }
}

@media (max-width: 800px) {
  .brand {
    margin-left: 40px;
  }

  .menu {
    margin-left: 100px;
  }
}

@media (max-width: 400px) {
  .brand {
    margin-left: 15px;
  }

  .menu li {
    font-size: 12px;
    margin-left: 10px;
  }
}
