.palette {
  background-color: var(--palette-bg);
  padding: 0 5px;
  width: 200px;
  position: relative;
  display: block;
}

.palette:focus-within {
  background-color: var(--palette-highlight-bg);
}

.palette:focus-within .palette__label {
  color: var(--palette-label-highlight);
  font-size: .85em;
}

.palette-colors-select {
  visibility: hidden;
  position: absolute;
  left: 0;
  height: 50px;
}

.palette__label {
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 500;
  padding: 2px 0px;
  transition: none;
  color: var(--palette-label-color);
  margin-bottom: 10px;
}

.palette__main {
  position: relative;
  padding: 6px 0;
}

.palette__colors {
  display: inline-block;
  width: 35px;
  height: 35px;
  outline: none;
  cursor: pointer;
  transition: none;
  background-color: #000000;
  border: 1px solid var(--editor-controls-border);
}

.palette__colors:focus {
  border-width: 1px;
}

.palette__color-value {
  position: absolute;
  display: inline-block;
  width: 80%;
  height: 35px;
  border: none;
  outline: none;
  font-size: 1.2em;
  padding-left: 7px;
  background-color: inherit;
  transition: none;
  color: var(--palette-label-color);
}

.palette__color-contrast {
  width: 100%;
  padding-top: 5px;
  padding-left: 1px;
  background-color: inherit;
  color: var(--palette-label-color);
  border: none !important;
  transition: none;
  font-size: .8em;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
}

.palette__color-contrast span ~ span {
  margin-left: 12px;
}

.palette__color-contrast span:nth-child(1) {
  padding: 1px 8px;
  text-align: center;
  border: 1px solid #eaeaea;
}

.palette__color-contrast span:nth-child(3) {
  font-weight: 600;
}

.palette__color-contrast .aa-fail a::after {
  color: var(--wcag-contrast-fail-color);
  content: '\2691';
}

.palette__color-contrast .aa-pass a::after {
  color: var(--wcag-contrast-pass-color);
  content: 'AA';
}

.palette__color-contrast .aaa-pass a::after {
  color: var(--wcag-contrast-pass-color);
  content: 'AAA';
}

.try-a11y-color button {
  color: var(--try-a11y-color);
}
