.results {
  width: 100vw;
  height: calc(100vh - 220px);
}

.results__panel {
  margin: 70px auto;
  position: relative;
  width: 850px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.results__placeholder {
  width: 850px;
  height: 400px;
}

.results__err {
  width: 850px;
  height: 250px;
  text-align: center;
}

.results__err p {
  line-height: 30px;
}

.results__err i {
  text-decoration: line-through;
}

.results__brand-logos {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  -moz-column-gap: 5px;
  column-gap: 5px;
  row-gap: 5px;
}

.results__more {
  margin: 15px 0;
}

.results__btn {
  position: absolute;
  width: 200px;
  height: 45px;
  border-radius: 2px;
  text-align: left;
}

.results__btn__robot {
  position: absolute;
  opacity: .5;
  top: 7px;
  right: 30px;
}

.results__btn__arrow {
  position: absolute;
  opacity: .5;
  top: 7px;
  right: 40px;
}

.results__btn:hover .results__btn__arrow,
.results__btn:hover .results__btn__robot {
  opacity: .8;
}

#results__generate-more {
  right: 0;
}

@media (max-width: 900px) {
  .results__brand-logos {
    grid-template-columns: repeat(2, 210px);
    grid-template-rows: repeat(3, 200px);
  }

  .results__placeholder {
    width: 450px;
    height: 447px;
  }

  .results__panel {
    width: 450px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (max-width: 500px) {
  .results__brand-logos {
    grid-template-columns: repeat(2, 170px);
    grid-template-rows: repeat(3, 150px);
  }

  .results__placeholder {
    width: 300px;
    height: 447px;
  }

  .results__panel {
    width: 300px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
